section.intro {
    background-color: var(--bgDark);
}

div.hero {
    max-width: 1152px;
    /* arriba | derecha | abajo | izquierda */
    padding: 0 15px 0 15px;
    margin: -15vh auto 0 auto;
}

div.left.flex-1.justify-right {
    margin: 5vh auto auto auto;
}

.hero .left img {
    width: 400px;
    margin-left: 5em;
}

.hero .right {
    color: var(--white);
    margin-top: -7rem;
}

.hero .right h4 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-top: 3em;
}

.hero .right h2 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h2 span {
    color: var(--primary);
}

.hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary:hover {
    background: var(--primary);
    color: var(--secondary);
}
