/* * {
    border: 1px solid red;
} */

section.projects h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}

section.projects h1 span {
    color: var(--primary);
}

section.projects
div.container {
    background-color: var(--white);
}
section.projects
.doted-grid {
    background-color: var(--white);
}

/* -- */

.doted-grid {
    
    /* background-color: blueviolet; */
}
.doted {
    /* background-color: aqua; */
}

.doted img {
    max-width: 115%;
}

/* -- */

a.project {
    color: #000;
    position: relative;
    text-decoration: none;
}

a.project::before {
    background: var(--primary);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

a.project:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}