@import url(1cabecera.css);
@import url(2presentacion.css);
@import url(3sobremi.css);
@import url(4habilidades.css);

:root {
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(250, 250, 250);
    --secondary: rgb(0, 59, 50);
    --bgLight: rgb(190, 181, 181);
}

* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;

    /* Linea para ver los bordes de cada elemento 
    border: solid 2px #ff0000;*/
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: var(--bgDark);
}

/*-------------------------------------------------------*/

section.intro {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
}

section.about {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
}

section.skills,
body {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 97%, 0 100%);
}

/*-------------------------------------------------------*/

.flex {
    display: flex;
}

.items-centre {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.btn {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .2s ease;
}

.flex-1 {
    flex: 1;
}

/*-------------------------------------------------------*/

@media screen and (max-width: 640px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }


    /*-- C A B E C E R A--*/
    button.btn.btn-primary {
        padding: 0;
        margin: 0;
    }

    /*-- P R E S E N T A C I O N --*/
    section.intro div.hero {
        display: grid;
        grid-template-columns: repeat(1, .5fr);
        column-gap: 1em;
    }

    .hero .left img {
        width: 300px;
        height: 300px;
        margin-left: 2vh;
    }

    div.hero p {
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 0 -10vh 0 5vh;
    }

    div.right.flex-1 {
        margin: 0 -8vh 0 1vh;
    }

    /*-- S O B R E - M I--*/
    section.about div.container {
        display: grid;
        grid-template-columns: repeat(1, .5fr);
        column-gap: 1em;

        padding: 0;
        margin: 0;
    }

    section.about div.right.flex-1 {
        padding-top: 2em;
    }

    #about.container.flex.items-centre {
        margin: 1vh 1vh 1vh -10vh;
    }

    #about p {
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 0 10vh 1vh -1vh;
    }

    /*-- H A B I L I D A D E S --*/
    section div.card-grid {
        display: grid;
        grid-template-columns: repeat(1, .5fr);
        column-gap: 1em;
    }

    div.card p {
        text-align: justify;
    }

    div.card p.rutaActual {
        text-align: center;
    }

    div.card {
        margin: 0 -25vh 0 0;
    }

    p {
        margin: 0 -10vh 0 -13vh;
    }


    /*-------------------------------------------------------*/

    section.intro {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 98%, 0 100%);
    }

    section.about {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 98%, 0 100%);
    }

    section.skills,
    body {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 99%, 0 100%);
    }

}