@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #313131;
  /* -- */
  --color-secondary: #054855;
  --color-tertiary: #9C92AC;
  /* -- */
  --color-quaternary: #3bd1b8;
  --color-quinary: #0C0C0C;
  --color-senary: #bfc2ca;
  --color-septenary: #838894;
  /* -- */
  --color-octonary: #28454B ;
  --color-nonary: #ececec;
  
  /*
  */

  
  /* --color-background: #313131;
  
  --color-underlined: #60fbe1;

  --color-first-window: #ffffff;
  --color-second-window: #FB6060;
  --color-third-window: #0C0C0C;
  --color-fourth-window: #ffffff;
  --color-fifth-window: #fb60f4;
  --color-sixth-window: #60fbe1;
  
  --color-first-icon: #60fbe1;
  --color-second-icon: #fb60f4; */

}